pipeline/pl_lookup.json
{
	"name": "pl_lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookupsales",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_adfdemo_sales",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupsales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupsales').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variabledept",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "deptname",
								"value": {
									"value": "@item().dept",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"deptname": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UDEMY"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-25T14:09:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}